@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
html {
  -webkit-text-size-adjust: none;
}

html, body {
  direction: ltr;
  width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p,
table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0;
}

img, form, fieldset, svg {
  border: 0;
  vertical-align: top;
}

input, button, select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

.blind, legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

body, textarea, input, select, textarea, button {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  outline: none;
}

table {
  border-collapse: collapse;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #959595;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #959595;
}

.scroll-disable {
  overflow: hidden;
  position: fixed;
  height: 100%;
}

.slick-slide, .slide,
.slick-slide * {
  outline: none !important;
}

.sub-cont-wrap {
  width: 1920px;
  margin: 110px auto 0;
}

.sub-cont-wrap .sub-kv {
  position: relative;
}

.sub-cont-wrap .sub-kv img {
  width: 100%;
}

.sub-cont-wrap .sub-kv dl {
  position: absolute;
  top: 100px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
}

.sub-cont-wrap .sub-kv dl dt {
  font-size: 54px;
}

.sub-cont-wrap .sub-kv dl dd {
  margin-top: 18px;
  font-size: 18px;
}

.sub-cont-wrap .sub-cont {
  overflow: hidden;
  width: 1440px;
  margin: auto;
}

.sub-cont-wrap .breadcrumb {
  color: #858585;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 56px;
}

.sub-cont-wrap .breadcrumb .section {
  display: inline-block;
}

.sub-cont-wrap .breadcrumb .section img {
  width: 13px;
  vertical-align: middle;
}

.sub-cont-wrap .breadcrumb .divider {
  overflow: hidden;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 15px;
  background-image: url("../images/sub/divider.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  color: #fff;
  font-size: 0;
  text-indent: -9999px;
  vertical-align: baseline;
}

.sub-cont-wrap .breadcrumb .active.section {
  color: #404040;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: -4px;
  background-color: #fff;
  border: 1px solid #797979;
  border-radius: 27px;
  color: #595959;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
}

.btn.white {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.btn.blue {
  border-color: #0082dc;
  background-color: #0082dc;
  color: #fff;
}

.btn.red {
  border-color: #990000;
  color: #990000;
}

.btn.dark {
  border-color: #2e3b4f;
  background-color: #2e3b4f;
  color: #fff;
  line-height: 42px;
}

.btn.blue2 {
  border-color: #0082dc;
  color: #0082dc;
  line-height: 42px;
}

.sel {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  padding: 6px 12px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  background-image: url("../images/icon_select_arrow_1920.png");
  background-repeat: no-repeat;
  background-position: right 19px top 17px;
  background-size: 10px 8px;
  color: #959595;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 30px;
  vertical-align: top;
}

.search-input {
  display: inline-block;
  position: relative;
}

.search-input .btn-search {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 15px;
  background-color: #2e3b4f;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  padding: 6px 12px;
  border: 1px solid #dcdcdc;
  color: #959595;
  font-size: 16px;
  line-height: 30px;
}

input[type="file"] {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  padding: 6px 12px;
  border: 1px solid #dcdcdc;
  color: #959595;
  font-size: 16px;
  line-height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url("../images/sub/icon_checkbox_1920.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-position: 0 100%;
}

.radio-label {
  position: relative;
  padding-left: 30px;
}

.radio-label input[type="radio"] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../images/sub/icon_radio_1920.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  display: table-cell;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radio-label input[type="radio"]:checked {
  background-position: 0 100%;
}

textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #dcdcdc;
  color: #959595;
  font-size: 16px;
  resize: none;
}

.sub-menu {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  border: 1px solid #dcdcdc;
}

.sub-menu a {
  display: block;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 21px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.sub-menu-member a {
  width: 33.3333%;
}

.sub-menu a span {
  position: relative;
  z-index: 2;
  color: #404040;
  font-size: 20px;
  line-height: 1.4;
}

.sub-menu a:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background-color: #dcdcdc;
}

.sub-menu a.active span {
  color: #fff;
}

.sub-menu a.active:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: #14bf72;
}

.cont-dl {
  padding-left: 123px;
}

.cont-dl dt {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.5625;
}

.cont-dl dt:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -123px;
  width: 87px;
  height: 4px;
  margin-top: -2px;
  background-color: #202020;
}

.cont-year-nav {
  width: 850px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.cont-year-nav .slick-list {
  overflow: hidden;
}

.cont-year-nav .slick-arrow {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 37px;
  background-image: url("../images/sub/cont_nav_slide_arrow_1920.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 0;
  text-indent: -9999px;
}

.cont-year-nav .slick-arrow.slick-prev {
  left: -40px;
  background-position: 0 0;
}

.cont-year-nav .slick-arrow.slick-next {
  right: -40px;
  background-position: 100% 0;
}

.cont-year-nav .y-box {
  float: left;
  display: block;
  margin: 0 40px;
  text-align: center;
}

.cont-year-nav .y-box dl {
  display: inline-block;
  padding: 3px 10px 10px;
  border-bottom: 4px solid transparent;
  color: #959595;
  text-align: center;
  cursor: pointer;
}

.cont-year-nav .y-box dl dt {
  font-family: 'Noto Sans';
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.cont-year-nav .y-box dl dd {
  margin-top: 2px;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.cont-year-nav .y-box.active dl {
  border-color: #14bf72;
}

.cont-year-nav .y-box.active dl dt {
  color: #202020;
}

.cont-year-nav .y-box.active dl dd {
  color: #595959;
}

.pagination {
  text-align: center;
}

.pagination li {
  display: inline-block;
  position: relative;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #dcdcdc;
}

.pagination li:first-child {
  border-width: 1px 1px 1px 1px;
}

.pagination li button {
  padding: 13px 17px;
  color: #595959;
  font-size: 16px;
  line-height: 1;
}

.pagination li.slick-active button {
  color: #0082dc;
  font-weight: 700;
}

.pagination li.slick-active:after {
  content: '';
  display: block;
  position: absolute;
  right: -1px;
  bottom: -1px;
  left: -1px;
  height: 2px;
  background-color: #0082dc;
}

.table-pagination {
  text-align: center;
}

.table-pagination button {
  display: inline-block;
  width: 60px;
  margin: 0 8px;
  border: 1px solid #dcdcdc;
  color: #595959;
  font-size: 16px;
  line-height: 42px;
  vertical-align: top;
}

.table-pagination button a, .table-pagination button a:hover, .table-pagination button a:visited, .table-pagination button a:active {
  color: #595959;
}

.table-pagination ul {
  overflow: hidden;
  display: inline-block;
}

.table-pagination ul li {
  float: left;
  border: 1px solid #dcdcdc;
  margin-left: -1px;
}

.table-pagination ul li:first-child {
  margin-left: 0;
}

.table-pagination ul li .page {
  display: block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 42px;
  position: relative;
  color: #595959;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}

.table-pagination ul li .page.active {
  color: #0082dc;
  font-weight: 700;
}

.table-pagination ul li .page.active:after {
  content: '';
  display: block;
  position: absolute;
  right: -1px;
  bottom: -1px;
  left: -1px;
  height: 2px;
  background-color: #0082dc;
}

.ul-table li {
  border-bottom: 1px solid #e5e5e5;
}

.ul-table li dl {
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.ul-table li dl dt {
  float: left;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 16%;
  padding: 24px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.ul-table li dl dd {
  float: left;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 84%;
  padding: 17px;
  font-size: 16px;
  line-height: 44px;
}

.mobile-ver {
  display: none !important;
}

.tablet-ver {
  display: none !important;
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto;
  color: #202020;
  line-height: 1.2;
}

/* HEADER */
header {
  position: absolute;
  z-index: 9;
  width: 100%;
  background-color: #fff;
}

header.nav-over {
  border-bottom: 1px solid #e5e5e5;
}

header.nav-over:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 109px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

header .header-wrap {
  position: relative;
  max-width: 1922px;
  width: 100%;
  margin: auto;
}

header .logo {
  position: absolute;
  top: 5px;
  left: 38px;
  width: 100px;
  height: 100px;
  background-image: url("../images/logo_1920.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 92px 97px;
}

header nav.pc-ver {
  text-align: center;
  background-color: #fff;
}

header nav.pc-ver .nav {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

header nav.pc-ver .nav > li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

header nav.pc-ver .nav > li span {
  display: block;
  position: relative;
  padding: 0 34px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 4.230769230769231;
  cursor: pointer;
}

header nav.pc-ver .nav > li span:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #0082dc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav.pc-ver .nav > li span a {
  color: #202020;
}

header nav.pc-ver .nav > li .sub-nav {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
}

header nav.pc-ver .nav > li .sub-nav:after {
  content: '';
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  width: 1px;
  height: 70%;
  background-color: #f0f0f0;
}

header nav.pc-ver .nav > li .sub-nav li {
  margin-bottom: 20px;
}

header nav.pc-ver .nav > li .sub-nav li a {
  display: inline-block;
  color: #595959;
  font-size: 16px;
  line-height: 1.5;
}

header nav.pc-ver .nav > li .sub-nav li a:hover {
  color: #0082dc;
  text-decoration: underline;
}

header nav.pc-ver .nav > li:first-child .sub-nav:after {
  display: none;
}

header nav.pc-ver .nav > li:hover span:after {
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

header .login.pc-ver {
  overflow: hidden;
  position: absolute;
  top: 37px;
  right: 40px;
}

header .login.pc-ver a {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 96px;
  margin-left: 14px;
  border: 2px solid #c7c7c7;
  border-radius: 18px;
  color: #404040;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

/* FOOTER */
footer {
  border-top: 1px solid #e5e5e5;
}

footer .footer-wrap {
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  min-height: 220px;
  padding: 24px 40px 0;
  margin: auto;
}

footer .fam-site {
  overflow: hidden;
  position: absolute;
  z-index: 9;
  right: 40px;
  bottom: 148px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  padding: 0 20px 0 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 23px;
}

footer .fam-site .fam-list {
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .fam-site .fam-list .fam-list-wrap {
  padding: 15px 0;
}

footer .fam-site .fam-list .fam-list-wrap a {
  display: block;
  color: #595959;
  font-size: 16px;
  line-height: 36px;
}

footer .fam-site .btn-dropdown {
  display: block;
  position: relative;
  width: 100%;
  color: #959595;
  font-size: 16px;
  line-height: 46px;
  text-align: left;
  cursor: pointer;
}

footer .fam-site .btn-dropdown:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 19px;
  right: 0;
  width: 10px;
  height: 8px;
  background-color: #fff;
  background-image: url("../images/icon_select_arrow_1920.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 10px 8px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .fam-site.active .fam-list {
  height: 138px;
}

footer .fam-site.active .btn-dropdown:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

footer .sns {
  position: absolute;
  right: 40px;
  bottom: 80px;
}

footer .sns ul {
  overflow: hidden;
}

footer .sns ul li {
  float: left;
  width: 48px;
  height: 48px;
  margin-left: 14px;
}

footer .sns ul li a {
  overflow: hidden;
  display: block;
  height: 100%;
  background-image: url("../images/footer_sns_1920.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #fff;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

footer .sns ul li a.footer-sns01 {
  background-position: 0 0;
}

footer .sns ul li a.footer-sns02 {
  background-position: -48px 0;
}

footer .sns ul li a.footer-sns03 {
  background-position: -96px 0;
}

footer .sns ul li a.footer-sns04 {
  background-position: -144px 0;
}

footer .footer-txt {
  position: relative;
  padding-left: 255px;
}

footer .footer-txt .footer-logo a {
  display: block;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
}

footer .footer-txt .footer-logo a.kyobo {
  position: absolute;
  top: 20px;
  left: 0;
  width: 85px;
  background-image: url("../images/footer_logo_1920.png");
  background-size: 100% auto;
}

footer .footer-txt .footer-logo a.daesan {
  position: absolute;
  top: 20px;
  left: 115px;
  width: 106px;
  background-image: url("../images/footer_logo_daesan_1920.png");
  background-size: 100% auto;
}

footer .footer-txt .terms {
  margin-bottom: 13px;
}

footer .footer-txt .terms li {
  display: inline-block;
  position: relative;
  padding: 0 22px;
}

footer .footer-txt .terms li:after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: 17px;
  width: 1px;
  height: 14px;
  background-color: #dcdcdc;
}

footer .footer-txt .terms li a {
  display: block;
  color: #404040;
  font-size: 18px;
  letter-spacing: -0.025em;
  line-height: 2.666666666666667;
}

footer .footer-txt .terms li:first-child {
  padding: 0 20px 0 0;
}

footer .footer-txt .terms li:first-child:after {
  display: none;
}

footer .footer-txt p {
  margin-bottom: 6px;
  color: #404040;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
}

footer .footer-txt p.copyrights {
  color: #959595;
}

.goTop {
  display: none;
  overflow: hidden;
  position: fixed;
  right: 40px;
  bottom: 20px;
}

.goTop button {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../images/btn_top_1920.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  font-size: 0;
}

.goTop.stop {
  position: absolute;
  bottom: 240px;
}

/***************************************  1920 ***************************************/
@media screen and (max-width: 1920px) {
  .sub-cont-wrap {
    width: 100%;
    margin: 5.729166666666667vw auto 0;
  }
  .sub-cont-wrap .sub-kv dl {
    top: 5.208333333333333vw;
  }
  .sub-cont-wrap .sub-kv dl dt {
    font-size: 2.8125vw;
  }
  .sub-cont-wrap .sub-kv dl dd {
    margin-top: 0.9375vw;
  }
  .sub-cont-wrap .sub-cont {
    width: 75vw;
  }
  .sub-cont-wrap .breadcrumb .section img {
    width: 0.6770833333333333vw;
  }
  .sub-cont-wrap .breadcrumb .divider {
    width: 0.46875vw;
    height: 0.46875vw;
    margin: 0 0.78125vw;
  }
  .btn {
    margin-right: -0.2083333333333333vw;
    border-radius: 1.40625vw;
    line-height: 2.708333333333333vw;
  }
  .btn.dark {
    line-height: 2.1875vw;
  }
  .btn.blue2 {
    line-height: 2.1875vw;
  }
  .sel {
    height: 2.291666666666667vw;
    padding: 0.3125vw 0.625vw;
    background-position: right 0.9895833333333333vw top 0.8854166666666667vw;
    background-size: 0.5208333333333333vw 0.4166666666666667vw;
    line-height: 1.5625vw;
  }
  .search-input .btn-search {
    padding: 0 0.78125vw;
    line-height: 2.291666666666667vw;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    height: 2.291666666666667vw;
    padding: 0.3125vw 0.625vw;
    line-height: 1.5625vw;
  }
  input[type="file"] {
    height: 2.291666666666667vw;
    padding: 0.3125vw 0.625vw;
    line-height: 1.5625vw;
  }
  input[type="checkbox"] {
    width: 1.25vw;
    height: 1.25vw;
  }
  .radio-label {
    padding-left: 1.5625vw;
  }
  .radio-label input[type="radio"] {
    width: 1.25vw;
    height: 1.25vw;
  }
  textarea {
    padding: 0.625vw;
  }
  .sub-menu {
    margin-top: 1.25vw;
  }
  .sub-menu a {
    padding: 1.09375vw 0;
  }
  .cont-dl {
    padding-left: 6.40625vw;
  }
  .cont-dl dt {
    font-size: 1.666666666666667vw;
  }
  .cont-dl dt:before {
    left: -6.40625vw;
    width: 4.53125vw;
    height: 0.2083333333333333vw;
    margin-top: -0.1041666666666667vw;
  }
  .cont-year-nav {
    width: 44.27083333333333vw;
  }
  .cont-year-nav .slick-arrow {
    width: 1.041666666666667vw;
    height: 1.927083333333333vw;
  }
  .cont-year-nav .slick-arrow.slick-prev {
    left: -2.083333333333333vw;
  }
  .cont-year-nav .slick-arrow.slick-next {
    right: -2.083333333333333vw;
  }
  .cont-year-nav .y-box {
    margin: 0 2.083333333333333vw;
  }
  .cont-year-nav .y-box dl {
    padding: 0.15625vw 0.5208333333333333vw 0.5208333333333333vw;
    border-bottom: 0.2083333333333333vw solid transparent;
  }
  .cont-year-nav .y-box dl dt {
    font-size: 1.666666666666667vw;
  }
  .cont-year-nav .y-box dl dd {
    margin-top: 0.1041666666666667vw;
  }
  .pagination li button {
    padding: 0.6770833333333333vw 0.8854166666666667vw;
    font-size: 0.8333333333333333vw;
  }
  .table-pagination button {
    width: 3.125vw;
    margin: 0 0.4166666666666667vw;
    line-height: 2.1875vw;
  }
  .table-pagination ul li .page {
    width: 2.1875vw;
    line-height: 2.1875vw;
  }
  .ul-table li dl dt {
    padding: 1.25vw 1.041666666666667vw;
    line-height: 1.5625vw;
  }
  .ul-table li dl dd {
    padding: 0.8854166666666667vw;
    line-height: 2.291666666666667vw;
  }
  /* HEADER */
  header.nav-over:after {
    top: 5.677083333333333vw;
  }
  header .logo {
    top: 0.2604166666666667vw;
    left: 1.979166666666667vw;
    width: 9.208333333333333vw;
    height: 5.208333333333333vw;
    background-size: 9.791666666666667vw 4.052083333333333vw;
  }
  header nav.pc-ver .nav > li span {
    padding: 0 3.125vw;
    font-size: 1.354166666666667vw;
  }
  header nav.pc-ver .nav > li span:after {
    height: 0.2083333333333333vw;
  }
  header nav.pc-ver .nav > li .sub-nav li {
    margin-bottom: 1.041666666666667vw;
  }
  header .login.pc-ver {
    top: 1.979166666666667vw;
    right: 2.083333333333333vw;
  }
  header .login.pc-ver a {
    margin-left: 0.7291666666666667vw;
    line-height: 1.666666666666667vw;
  }
  /* FOOTER */
  footer .footer-wrap {
    min-height: 11.45833333333333vw;
    padding: 1.25vw 2.083333333333333vw 0;
  }
  footer .fam-site {
    right: 2.083333333333333vw;
    bottom: 7.708333333333333vw;
    width: 13.02083333333333vw;
    border-radius: 1.19792vw;
    padding: 0 1.041666666666667vw 0 1.5625vw;
  }
  footer .fam-site .fam-list .fam-list-wrap {
    padding: 0.78125vw 0;
  }
  footer .fam-site .fam-list .fam-list-wrap a {
    line-height: 1.875vw;
  }
  footer .fam-site .btn-dropdown {
    line-height: 2.395833333333333vw;
  }
  footer .fam-site .btn-dropdown:after {
    bottom: 0.9895833333333333vw;
    width: 0.5208333333333333vw;
    height: 0.4166666666666667vw;
    background-size: 0.5208333333333333vw 0.4166666666666667vw;
  }
  footer .fam-site.active .fam-list {
    height: 7.1875vw;
  }
  footer .sns {
    right: 2.083333333333333vw;
    bottom: 4.166666666666667vw;
  }
  footer .sns ul li {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 0.7291666666666667vw;
  }
  footer .sns ul li a {
    background-size: 10vw 2.5vw;
  }
  footer .sns ul li a.footer-sns02 {
    background-position: -2.5vw 0;
  }
  footer .sns ul li a.footer-sns03 {
    background-position: -5vw 0;
  }
  footer .sns ul li a.footer-sns04 {
    background-position: -7.5vw 0;
  }
  footer .footer-txt {
    padding-left: 13.28125vw;
  }
  footer .footer-txt .footer-logo a {
    height: 4.166666666666667vw;
  }
  footer .footer-txt .footer-logo a.kyobo {
    top: 0.041666666666667vw;
    width: 7.427083333333333vw;
  }
  footer .footer-txt .footer-logo a.daesan {
    top: 1.041666666666667vw;
    left: 5.989583333333333vw;
    width: 5.520833333333333vw;
  }
  footer .footer-txt .terms {
    margin-bottom: 0.6770833333333333vw;
  }
  footer .footer-txt .terms li {
    padding: 0 1.145833333333333vw;
  }
  footer .footer-txt .terms li:after {
    top: 0.8854166666666667vw;
    height: 0.7291666666666667vw;
  }
  footer .footer-txt .terms li:first-child {
    padding: 0 1.041666666666667vw 0 0;
  }
  footer .footer-txt p {
    margin-bottom: 0.3125vw;
  }
  .goTop {
    right: 2.083333333333333vw;
    bottom: 1.041666666666667vw;
  }
  .goTop button {
    width: 3.125vw;
    height: 3.125vw;
  }
  .goTop.stop {
    bottom: 12.5vw;
  }
}

/***************************************  1440 ***************************************/
@media screen and (max-width: 1440px) {
  .sub-cont-wrap .sub-kv dl dd {
    font-size: 16px;
  }
  .breadcrumb {
    font-size: 13px;
  }
  .btn {
    font-size: 14px;
  }
  .sel {
    font-size: 14px;
  }
  .search-input .btn-search {
    font-size: 14px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 14px;
  }
  input[type="file"] {
    font-size: 14px;
  }
  textarea {
    font-size: 14px;
  }
  .sub-menu a span {
    font-size: 18px;
  }
  .cont-year-nav .y-box dl dd {
    font-size: 14px;
  }
  .pagination li button {
    font-size: 14px;
  }
  .table-pagination button {
    font-size: 14px;
  }
  .table-pagination ul li .page {
    font-size: 14px;
  }
  .ul-table li dl dt {
    font-size: 14px;
  }
  .ul-table li dl dd {
    font-size: 14px;
  }
  /* HEADER */
  header nav.pc-ver .nav li .sub-nav li a {
    font-size: 14px;
  }
  header .login.pc-ver a {
    width: 6.666666666666667vw;
    font-size: 14px;
  }
  /* FOOTER */
  footer .fam-site .fam-list .fam-list-wrap a {
    font-size: 14px;
  }
  footer .fam-site .btn-dropdown {
    font-size: 14px;
  }
  footer .footer-txt .terms li a {
    font-size: 16px;
  }
  footer .footer-txt p {
    font-size: 14px;
  }
}

/***************************************  1280 ***************************************/
@media screen and (max-width: 1280px) {
  .sub-cont-wrap .sub-kv dl dd {
    font-size: 14px;
  }
  .breadcrumb {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
  .sel {
    font-size: 12px;
  }
  .search-input .btn-search {
    font-size: 12px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 12px;
  }
  input[type="file"] {
    font-size: 12px;
  }
  textarea {
    font-size: 12px;
  }
  .sub-menu a span {
    font-size: 16px;
  }
  .cont-year-nav .y-box dl dd {
    font-size: 12px;
  }
  .pagination li button {
    font-size: 12px;
  }
  .table-pagination button {
    font-size: 12px;
  }
  .table-pagination ul li .page {
    font-size: 12px;
  }
  .ul-table li dl dt {
    font-size: 12px;
  }
  .ul-table li dl dd {
    font-size: 12px;
  }
  /* HEADER */
  header nav.pc-ver .nav li .sub-nav li a {
    font-size: 12px;
  }
  header .login.pc-ver a {
    font-size: 12px;
  }
  /* FOOTER */
  footer .fam-site .fam-list .fam-list-wrap a {
    font-size: 12px;
  }
  footer .fam-site .btn-dropdown {
    font-size: 12px;
  }
  footer .footer-txt .terms li a {
    font-size: 14px;
  }
  footer .footer-txt p {
    font-size: 12px;
  }
}

/***************************************  1024 ***************************************/
@media screen and (max-width: 1024px) {
  .tablet-ver {
    display: block;
  }
  .sub-cont-wrap {
    margin: 6.4453125vw auto 0;
  }
  .sub-cont-wrap .sub-kv dl {
    top: 5.859375vw;
  }
  .sub-cont-wrap .sub-kv dl dt {
    font-size: 3.1640625vw;
  }
  .sub-cont-wrap .sub-kv dl dd {
    margin-top: 1.0546875vw;
    font-size: 16px;
  }
  .sub-cont-wrap .sub-cont {
    width: 84.375vw;
  }
  .sub-cont-wrap .breadcrumb {
    font-size: 13px;
  }
  .sub-cont-wrap .breadcrumb .section img {
    width: 0.76171875vw;
  }
  .sub-cont-wrap .breadcrumb .divider {
    width: 0.52734375vw;
    height: 0.52734375vw;
    margin: 0 0.87890625vw;
  }
  .btn {
    margin-right: -0.234375vw;
    border-radius: 1.58203vw;
    font-size: 14px;
    line-height: 3.046875vw;
  }
  .btn.dark {
    line-height: 2.4609375vw;
  }
  .btn.blue2 {
    line-height: 2.4609375vw;
  }
  .sel {
    height: 2.578125vw;
    padding: 0.3515625vw 0.703125vw;
    background-position: right 1.11328125vw top 0.99609375vw;
    background-size: 0.5859375vw 0.46875vw;
    font-size: 14px;
    line-height: 1.7578125vw;
  }
  .search-input .btn-search {
    padding: 0 0.87890625vw;
    font-size: 14px;
    line-height: 2.578125vw;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    height: 2.578125vw;
    padding: 0.3515625vw 0.703125vw;
    font-size: 14px;
    line-height: 1.7578125vw;
  }
  input[type="file"] {
    height: 2.578125vw;
    padding: 0.3515625vw 0.703125vw;
  }
  input[type="checkbox"] {
    width: 1.40625vw;
    height: 1.40625vw;
  }
  .radio-label {
    padding-left: 1.7578125vw;
  }
  .radio-label input[type="radio"] {
    width: 1.40625vw;
    height: 1.40625vw;
  }
  textarea {
    padding: 0.703125vw;
    font-size: 14px;
  }
  .sub-menu {
    margin-top: 1.40625vw;
  }
  .sub-menu a {
    padding: 1.23046875vw 0;
  }
  .sub-menu a span {
    font-size: 18px;
  }
  .cont-dl {
    padding-left: 7.20703125vw;
  }
  .cont-dl dt {
    font-size: 1.875vw;
  }
  .cont-dl dt:before {
    left: -7.20703125vw;
    width: 5.09765625vw;
    height: 0.234375vw;
    margin-top: -0.1171875vw;
  }
  .cont-year-nav {
    width: 49.8046875vw;
  }
  .cont-year-nav .slick-arrow {
    width: 1.171875vw;
    height: 2.16796875vw;
  }
  .cont-year-nav .slick-arrow.slick-prev {
    left: -2.34375vw;
  }
  .cont-year-nav .slick-arrow.slick-next {
    right: -2.34375vw;
  }
  .cont-year-nav .y-box {
    margin: 0 2.34375vw;
  }
  .cont-year-nav .y-box dl {
    padding: 0.17578125vw 0.5859375vw 0.5859375vw;
    border-bottom: 0.234375vw solid transparent;
  }
  .cont-year-nav .y-box dl dt {
    font-size: 1.875vw;
  }
  .cont-year-nav .y-box dl dd {
    margin-top: 0.1953125vw;
    font-size: 14px;
  }
  .pagination li button {
    padding: 0.76171875vw 0.99609375vw;
    font-size: 14px;
  }
  .table-pagination button {
    width: 3.515625vw;
    font-size: 14px;
    line-height: 2.4609375vw;
  }
  .table-pagination ul li .page {
    width: 2.4609375vw;
    font-size: 14px;
    line-height: 2.4609375vw;
  }
  .ul-table li dl dt {
    padding: 1.40625vw 1.171875vw;
    font-size: 14px;
    line-height: 1.7578125vw;
  }
  .ul-table li dl dd {
    padding: 0.99609375vw;
    font-size: 14px;
    line-height: 2.578125vw;
  }
  /* HEADER */
  header.nav-over:after {
    top: 6.34765625vw;
  }
  header .logo {
    top: 0.29296875vw;
    left: 2.2265625vw;
    width: 5.859375vw;
    height: 5.859375vw;
    background-size: 5.390625vw 5.68359375vw;
  }
  header nav.pc-ver .nav > li span {
    padding: 0 2.734375vw;
    font-size: 1.5625vw;
  }
  header nav.pc-ver .nav > li .sub-nav li {
    margin-bottom: 1.171875vw;
  }
  header nav.pc-ver .nav > li .sub-nav li a {
    font-size: 14px;
  }
  header .login.pc-ver {
    top: 2.24609375vw;
    right: 2.05078125vw;
  }
  header .login.pc-ver a {
    margin-left: 0.78125vw;
    border-radius: 1.07422vw;
    font-size: 14px;
    line-height: 1.7578125vw;
  }
  /* FOOTER */
  footer .footer-wrap {
    min-height: 12.890625vw;
    padding: 1.40625vw 2.34375vw 0;
  }
  footer .fam-site {
    right: 2.34375vw;
    bottom: 8.671875vw;
    width: 14.6484375vw;
    padding: 0 1.171875vw 0 1.7578125vw;
    border-radius: 1.34766vw;
  }
  footer .fam-site .fam-list .fam-list-wrap {
    padding: 0.87890625vw 0;
  }
  footer .fam-site .fam-list .fam-list-wrap a {
    font-size: 14px;
    line-height: 2.109375vw;
  }
  footer .fam-site .btn-dropdown {
    font-size: 14px;
    line-height: 2.6953125vw;
  }
  footer .fam-site .btn-dropdown:after {
    bottom: 1.11328125vw;
    width: 0.5859375vw;
    height: 0.46875vw;
    background-size: 0.5859375vw 0.46875vw;
  }
  footer .fam-site.active .fam-list {
    height: 8.0859375vw;
  }
  footer .sns {
    right: 2.34375vw;
    bottom: 4.6875vw;
  }
  footer .sns ul li {
    width: 2.8125vw;
    height: 2.8125vw;
    margin-left: 0.8203125vw;
  }
  footer .sns ul li a {
    background-size: 11.25vw 2.8125vw;
  }
  footer .sns ul li a.footer-sns02 {
    background-position: -2.8125vw 0;
  }
  footer .sns ul li a.footer-sns03 {
    background-position: -5.625vw 0;
  }
  footer .sns ul li a.footer-sns04 {
    background-position: -8.4375vw 0;
  }
  footer .footer-txt {
    padding-left: 14.94140625vw;
  }
  footer .footer-txt .footer-logo a {
    height: 4.6875vw;
  }
  footer .footer-txt .footer-logo a.kyobo {
    top: 20.171875vw;
    width: 24.980469vw;
    height: 20.980469vw;
    left: 33.980469vw;
    background-size: 27.980469vw 14.980469vw;
  }
  footer .footer-txt .footer-logo a.daesan {
    top: 1.171875vw;
    left: 6.73828125vw;
    width: 6.2109375vw;
  }
  footer .footer-txt .terms {
    margin-bottom: 0.76171875vw;
  }
  footer .footer-txt .terms li {
    padding: 0 1.2890625vw;
  }
  footer .footer-txt .terms li:after {
    top: 0.99609375vw;
    height: 0.8203125vw;
  }
  footer .footer-txt .terms li a {
    font-size: 16px;
  }
  footer .footer-txt .terms li:first-child {
    padding: 0 1.171875vw 0 0;
  }
  footer .footer-txt p {
    margin-bottom: 0.3515625vw;
    font-size: 14px;
  }
  .goTop {
    right: 2.34375vw;
    bottom: 1.953125vw;
  }
  .goTop button {
    width: 3.515625vw;
    height: 3.515625vw;
  }
  .goTop.stop {
    bottom: 15.625vw;
  }
}

/***************************************  960 ***************************************/
@media screen and (max-width: 960px) {
  .sub-cont-wrap .sub-kv dl dd {
    font-size: 14px;
  }
  .breadcrumb {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
  .sel {
    font-size: 12px;
  }
  .search-input .btn-search {
    font-size: 12px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-size: 12px;
  }
  input[type="file"] {
    font-size: 12px;
  }
  textarea {
    font-size: 12px;
  }
  .sub-menu a span {
    font-size: 16px;
  }
  .cont-year-nav .y-box dl dd {
    font-size: 12px;
  }
  .pagination li button {
    font-size: 12px;
  }
  .table-pagination button {
    font-size: 12px;
  }
  .table-pagination ul li .page {
    font-size: 12px;
  }
  .ul-table li dl dt {
    font-size: 12px;
  }
  .ul-table li dl dd {
    font-size: 12px;
  }
  /* HEADER */
  header nav.pc-ver .nav li .sub-nav li a {
    font-size: 12px;
  }
  header .login.pc-ver a {
    font-size: 12px;
  }
  /* FOOTER */
  footer .fam-site .fam-list .fam-list-wrap a {
    font-size: 12px;
  }
  footer .fam-site .btn-dropdown {
    font-size: 12px;
  }
  footer .footer-txt .terms li a {
    font-size: 14px;
  }
  footer .footer-txt p {
    font-size: 12px;
  }
}

/***************************************  768 ***************************************/
@media screen and (max-width: 768px) {
  .sub-cont-wrap {
    margin: 15.625vw auto 0;
  }
  .sub-cont-wrap .sub-kv dl {
    top: 13.02083333333333vw;
  }
  .sub-cont-wrap .sub-kv dl dt {
    font-size: 7.03125vw;
  }
  .sub-cont-wrap .sub-kv dl dd {
    margin-top: 1.953125vw;
    font-size: 3.125vw;
  }
  .sub-cont-wrap .sub-cont {
    width: 100%;
  }
  .sub-cont-wrap .breadcrumb {
    display: none;
  }
  .btn {
    border: 2px solid #797979;
    border-radius: 6.25vw;
    font-size: 3.90625vw;
    line-height: 11.97916666666667vw;
  }
  .btn.dark {
    line-height: 8.59375vw;
  }
  .sel {
    height: 11.45833333333333vw;
    padding: 2.604166666666667vw 3.125vw;
    border: 2px solid #dcdcdc;
    background-image: url("../images/icon_select_arrow_768.png");
    background-position: right 4.166666666666667vw top 4.427083333333333vw;
    background-size: 2.604166666666667vw 2.083333333333333vw;
    font-size: 4.166666666666667vw;
    line-height: 6.25vw;
  }
  .search-input .btn-search {
    padding: 0 3.90625vw;
    font-size: 4.166666666666667vw;
    line-height: 11.45833333333333vw;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    height: 11.45833333333333vw;
    padding: 2.604166666666667vw 3.125vw;
    border: 2px solid #dcdcdc;
    font-size: 4.166666666666667vw;
    line-height: 6.25vw;
  }
  input[type="checkbox"] {
    width: 4.6875vw;
    height: 4.6875vw;
    background-image: url("../images/sub/icon_checkbox_768.png");
    background-size: 100% auto;
  }
  input[type="checkbox"]:checked {
    background-position: 0 100%;
  }
  .radio-label {
    padding-left: 5.46875vw;
  }
  .radio-label input[type="radio"] {
    width: 4.6875vw;
    height: 4.6875vw;
    background-image: url("../images/sub/icon_radio_768.png");
    background-size: 100% auto;
  }
  .radio-label input[type="radio"]:checked {
    background-position: 0 100%;
  }
  textarea {
    padding: 2.604166666666667vw 3.125vw;
    border: 2px solid #dcdcdc;
    font-size: 3.776041666666667vw;
  }
  .sub-menu {
    padding: 0 4.296875vw;
    margin-top: 0;
    border: none;
    background-color: #14bf72;
    text-align: center;
  }
  .sub-menu a {
    display: table;
    height: 15.625vw;
    padding: 0;
    margin-left: 0;
    background-color: transparent;
    border-bottom: 1.041666666666667vw solid transparent;
  }
  .sub-menu a span {
    display: table-cell;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3.645833333333333vw;
    font-weight: 500;
    line-height: 1.214285714285714;
  }
  .sub-menu a:before {
    display: none;
  }
  .sub-menu a.active {
    border-color: rgba(255, 255, 255, 0.7);
  }
  .sub-menu a.active span {
    color: white;
  }
  .sub-menu a.active:after {
    display: none;
  }
  .cont-dl {
    padding-left: 0;
  }
  .cont-dl dt {
    padding-top: 3.515625vw;
    font-size: 6.640625vw;
    line-height: 1.450980392156863;
  }
  .cont-dl dt:before {
    top: 0;
    left: 4.296875vw;
    width: 11.328125vw;
    height: 0.5208333333333333vw;
    margin-top: 0;
  }
  .cont-year-nav {
    width: 74.21875vw;
  }
  .cont-year-nav .slick-arrow {
    width: 4.557291666666667vw;
    height: 8.463541666666667vw;
    background-image: url("../images/sub/cont_nav_slide_arrow_768.png");
  }
  .cont-year-nav .slick-arrow.slick-prev {
    left: -7.8125vw;
  }
  .cont-year-nav .slick-arrow.slick-next {
    right: -7.8125vw;
  }
  .cont-year-nav .y-box {
    margin: 0 4.427083333333333vw;
  }
  .cont-year-nav .y-box dl {
    padding: 0.78125vw 2.604166666666667vw 2.213541666666667vw;
    border-bottom: 1.041666666666667vw solid transparent;
  }
  .cont-year-nav .y-box dl dt {
    font-size: 5.46875vw;
  }
  .cont-year-nav .y-box dl dd {
    margin-top: 0.5208333333333333vw;
    font-size: 3.125vw;
  }
  .pagination li {
    border-width: 2px 2px 2px 0;
  }
  .pagination li:first-child {
    border-width: 2px 2px 2px 2px;
  }
  .pagination li button {
    padding: 3.776041666666667vw 4.6875vw;
    font-size: 3.385416666666667vw;
  }
  .pagination li.slick-active:after {
    right: -2px;
    bottom: -2px;
    left: -2px;
    height: 6px;
  }
  .table-pagination button {
    width: 10.41666666666667vw;
    margin: 0 1.041666666666667vw;
    border: 2px solid #dcdcdc;
    font-size: 3.385416666666667vw;
    line-height: 7.8125vw;
  }
  .table-pagination ul li {
    margin-left: -2px;
    border: 2px solid #dcdcdc;
  }
  .table-pagination ul li .page {
    width: 7.8125vw;
    font-size: 3.385416666666667vw;
    line-height: 7.8125vw;
  }
  .table-pagination ul li .page.active:after {
    right: -2px;
    bottom: -2px;
    left: -2px;
    height: 0.78125vw;
  }
  .ul-table li {
    padding: 4.947916666666667vw 0;
    border-bottom: 2px solid #e5e5e5;
  }
  .ul-table li dl dt {
    float: none;
    width: 100%;
    padding: 0;
    font-size: 4.166666666666667vw;
    line-height: 1.5;
  }
  .ul-table li dl dd {
    float: none;
    width: 100%;
    padding: 1.5625vw 0;
    font-size: 4.166666666666667vw;
    line-height: 1.5;
  }
  .slick-arrow {
    overflow: hidden;
    position: absolute;
    width: 4.557291666666667vw;
    height: 8.463541666666667vw;
    background-image: url("../images/album_arrows.png");
    background-repeat: no-repeat;
    background-size: 9.114583333333333vw 8.463541666666667vw;
    color: #fff;
    font-size: 0;
    text-indent: -9999px;
  }
  .slick-arrow.slick-prev {
    left: 4.296875vw;
    background-position: 0 0;
  }
  .slick-arrow.slick-next {
    right: 4.296875vw;
    background-position: 100% 0;
  }
  .pc-ver {
    display: none !important;
  }
  .mobile-ver {
    display: block !important;
  }
  .dim-layer {
    display: none;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .dim-layer.show {
    display: block;
  }
  /* HEADER */
  header .logo {
    top: 1.302083333333333vw;
    left: 4.947916666666667vw;
    width: 22.02083333333333vw;
    height: 13.02083333333333vw;
    background-size: 22.97916666666667vw 12.63020833333333vw;
  }
  header .btn-menu-open {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    right: 1.692708333333333vw;
    top: 2.864583333333333vw;
    width: 10.80729166666667vw;
    height: 9.505208333333333vw;
    padding: 2.604166666666667vw;
    color: transparent;
    background-image: url("../images/btn_menu_open.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5.598958333333333vw 4.296875vw;
  }
  header nav.mobile-ver {
    overflow: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 85.67708333333333vw;
    height: 100vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(200vw);
    transform: translateX(200vw);
  }
  header nav.mobile-ver.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  header nav.mobile-ver .nav-wrap {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
  }
  header nav.mobile-ver .nav-top {
    padding-bottom: 6.510416666666667vw;
    margin-left: 1.302083333333333vw;
    background-color: #0082dc;
  }
  header nav.mobile-ver .nav-top .nav-header {
    overflow: hidden;
    padding: 0 4.817708333333333vw;
  }
  header nav.mobile-ver .nav-top .nav-header .header {
    color: #fff;
    font-size: 4.166666666666667vw;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 15.625vw;
  }
  header nav.mobile-ver .nav-top .nav-header .btn-menu-close {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    right: 4.817708333333333vw;
    top: 5.46875vw;
    width: 4.557291666666667vw;
    height: 4.557291666666667vw;
    color: transparent;
  }
  header nav.mobile-ver .nav-top .nav-header .btn-menu-close:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/btn_menu_close.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
  header nav.mobile-ver .nav-top .quick-menu {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 4.817708333333333vw;
  }
  header nav.mobile-ver .nav-top .quick-menu li {
    float: left;
    width: 33.33333333333333%;
  }
  header nav.mobile-ver .nav-top .quick-menu li a {
    display: block;
    padding-top: 9.635416666666667vw;
    background-repeat: no-repeat;
    background-position: center top 1.041666666666667vw;
    background-size: 6.25vw 6.510416666666667vw;
    color: #fff;
    font-size: 3.385416666666667vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.153846153846154;
    text-align: center;
  }
  header nav.mobile-ver .nav-top .quick-menu li a.qm_login {
    background-image: url("../images/qm_01.png");
  }
  header nav.mobile-ver .nav-top .quick-menu li a.qm_logout {
    background-image: url("../images/qm_02.png");
  }
  header nav.mobile-ver .nav-top .quick-menu li a.qm_join {
    background-image: url("../images/qm_03.png");
  }
  header nav.mobile-ver .nav-top .quick-menu li a.qm_myinfo {
    background-image: url("../images/qm_04.png");
  }
  header nav.mobile-ver .nav-top .quick-menu li a.qm_particip {
    background-image: url("../images/qm_05.png");
  }
  header nav.mobile-ver .nav-bottom {
    overflow: auto;
    position: absolute;
    top: 35.67708333333333vw;
    bottom: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-wrap {
    overflow: hidden;
    position: relative;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left {
    float: left;
    position: relative;
    z-index: 2;
    max-width: 42.1875vw;
    width: 50%;
    margin-left: 1.302083333333333vw;
    background-color: #f0f0f0;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .tabs .tab {
    display: block;
    position: relative;
    padding: 4.817708333333333vw 0 3.776041666666667vw 4.427083333333333vw;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .tabs .tab span {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 0.6510416666666667vw 0.9114583333333333vw;
    margin-right: -0.5208333333333333vw;
    border-bottom: 0.6510416666666667vw solid transparent;
    color: #595959;
    font-size: 3.90625vw;
    letter-spacing: -0.02em;
    line-height: 1;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .tabs .tab.selected span {
    border-color: #0082dc;
    color: #202020;
    font-weight: 700;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .tabs .tab.selected:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -1.302083333333333vw;
    right: -1px;
    bottom: 0;
    border-bottom: 2px solid #dcdcdc;
    background-color: #fff;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .sns {
    padding-left: 4.947916666666667vw;
    margin-top: 16.92708333333333vw;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .sns a {
    display: block;
    padding-left: 5.208333333333333vw;
    margin-bottom: 6.510416666666667vw;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 3.385416666666667vw 3.255208333333333vw;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .sns a span {
    color: #595959;
    font-size: 2.864583333333333vw;
    letter-spacing: -0.02em;
    line-height: 1.363636363636364;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .sns a.facebook {
    background-image: url("../images/menu_sns_01.png");
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .sns a.insta {
    background-image: url("../images/menu_sns_02.png");
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-left .sns a.kakao {
    background-image: url("../images/menu_sns_03.png");
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-right {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 42.31770833333333vw;
    width: 100%;
    padding: 0 5.208333333333333vw;
    background-color: #fff;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-right .panel {
    display: none;
    padding-top: 6.510416666666667vw;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-right .panel a {
    display: block;
    margin-bottom: 9.895833333333333vw;
    color: #404040;
    font-size: 3.645833333333333vw;
    letter-spacing: -0.02em;
    line-height: 1.071428571428571;
  }
  header nav.mobile-ver .nav-bottom .nav-bottom-right .panel.on {
    display: block;
  }
  /* FOOTER */
  footer {
    border-top: 2px solid #e5e5e5;
  }
  footer .footer-wrap {
    min-height: 71.61458333333333vw;
    padding: 5.208333333333333vw 4.296875vw 0;
  }
  footer .fam-site {
    right: 4.296875vw;
    bottom: 57.29166666666667vw;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 91.40625vw;
    padding: 0 5.208333333333333vw;
    border-width: 2px;
    border-radius: 4.55729vw;
  }
  footer .fam-site .fam-list .fam-list-wrap {
    padding: 3.90625vw 0;
  }
  footer .fam-site .fam-list .fam-list-wrap a {
    font-size: 2.864583333333333vw;
    line-height: 2;
  }
  footer .fam-site .btn-dropdown {
    font-size: 2.864583333333333vw;
    line-height: 3;
  }
  footer .fam-site .btn-dropdown:after {
    bottom: 3.255208333333333vw;
    width: 2.604166666666667vw;
    height: 2.083333333333333vw;
    background-image: url("../images/icon_select_arrow_768.png");
    background-size: 2.604166666666667vw 2.083333333333333vw;
  }
  footer .fam-site.active .fam-list {
    height: 26.953125vw;
  }
  footer .sns {
    position: unset;
    margin-top: 14.453125vw;
  }
  footer .sns ul li {
    width: 9.375vw;
    height: 9.375vw;
    margin-left: 0;
    margin-right: 5.208333333333333vw;
  }
  footer .sns ul li a {
    background-image: url("../images/footer_sns_768.png");
    background-size: auto 100%;
  }
  footer .sns ul li a.footer-sns02 {
    background-position: -9.375vw 0;
  }
  footer .sns ul li a.footer-sns03 {
    background-position: -18.75vw 0;
  }
  footer .sns ul li a.footer-sns04 {
    background-position: -28.125vw 0;
  }
  footer .footer-txt {
    padding-left: 0.78125vw;
    margin-left: 0;
    margin-top: 7.552083333333333vw;
  }
  footer .footer-txt .footer-logo {
    /*display: none;*/
  }
  footer .footer-txt .terms {
    margin-bottom: 5.46875vw;
  }
  footer .footer-txt .terms li {
    padding: 0 3.385416666666667vw 0 3.90625vw;
  }
  footer .footer-txt .terms li:after {
    top: 0.5208333333333333vw;
    left: -0.2604166666666667vw;
    width: 0.2604166666666667vw;
    height: 2.34375vw;
  }
  footer .footer-txt .terms li a {
    font-size: 3.125vw;
    line-height: 1;
  }
  footer .footer-txt .terms li:first-child {
    padding: 0 3.385416666666667vw 0 0;
  }
  footer .footer-txt p {
    margin-bottom: 1.822916666666667vw;
    font-size: 2.864583333333333vw;
    line-height: 1.454545454545455;
  }
  .goTop {
    right: 4.296875vw;
    bottom: 3.90625vw;
  }
  .goTop button {
    width: 12.5vw;
    height: 12.5vw;
    background-image: url("../images/btn_top_768.png");
    background-size: 100% 100%;
  }
  .goTop.stop {
    bottom: 78.125vw;
  }
}
