@charset "UTF-8";
.overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.overlay.show {
  display: block;
}

.list-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 579px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.list-popup .list-popup-wrap {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
}

.list-popup .popup-close {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-image: url("../images/sub/list_popup_close.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 13px;
  color: #fff;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.list-popup .popup-top {
  overflow: hidden;
  display: table-cell;
  padding-bottom: 30px;
  vertical-align: middle;
}

.list-popup .popup-top img {
  float: left;
  width: 88px;
  margin-right: 30px;
}

.list-popup .popup-top p {
  float: left;
  margin-top: 33px;
  color: #595959;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.375;
}

.list-popup .popup-top p span {
  color: #404040;
  font-weight: 700;
}

.list-popup .popup-bottom {
  padding-top: 28px;
  border-top: 1px solid #e5e5e5;
}

.list-popup .popup-bottom .popup-bottom-wrap {
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 173px;
  padding-right: 20px;
  color: #595959;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.list-popup .popup-arrows {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 89px;
  margin-top: -44px;
  background-image: url("../images/sub/list_popup_arrows_1920.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}

.list-popup .popup-arrows.popup-prev {
  left: -86px;
  background-position: 0 0;
}

.list-popup .popup-arrows.popup-next {
  right: -86px;
  background-position: 100% 0;
}

.sub-menu a {
  width: 25%;
}

.cont-area.summary {
  padding: 70px 0 180px;
}

.cont-area.summary .summary-cont-wrap {
  margin-top: 80px;
}

.cont-area.summary .s-cont-top {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 123px;
}

.cont-area.summary .s-cont-top .summary-img {
  float: left;
  width: 456px;
}

.cont-area.summary .s-cont-top .summary-img img {
  width: 100%;
}

.cont-area.summary .s-cont-top .summary-info {
  float: right;
  width: 678px;
  text-align: left;
}

.cont-area.summary .s-cont-top .summary-info .tit {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.3125;
}

.cont-area.summary .s-cont-top .summary-info .ul-table {
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #202020;
}

.cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
  width: 30%;
  padding: 27px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
  width: 70%;
  padding: 27px 30px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.cont-area.summary .s-cont-bottom {
  margin-top: 70px;
}

.cont-area.summary .s-cont-bottom .cont-dl dd {
  margin-top: 30px;
}

.cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo {
  overflow: hidden;
}

.cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .s-photo {
  overflow: hidden;
  float: left;
  width: 391px;
  height: 263px;
  margin: 0 10px 10px 0;
}

.cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .s-photo img {
  width: 100%;
}

.cont-area.list {
  padding: 70px 0 180px;
}

.cont-area.list .list-cont-wrap .l-cont-top {
  margin-top: 76px;
}

.cont-area.list .list-cont-wrap .l-cont-top .tit {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.217391304347826;
  text-align: center;
}

.cont-area.list .list-cont-wrap .l-cont-bottom {
  padding-top: 54px;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul {
  margin: 0 auto;
  text-align: center;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li {
  display: inline-block;
  margin: 0 18px 36px;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 579px;
  height: 245px;
  border: 2px solid #e5e5e5;
  text-align: left;
  cursor: pointer;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 110px;
  height: 110px;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 110px solid #c7c7c7;
  border-bottom: 110px solid transparent;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 50px;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p strong {
  position: relative;
  top: 2px;
  font-family: 'Noto Sans';
  font-size: 32px;
  font-weight: 700;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-photo {
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 48px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-photo img {
  width: 100%;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review {
  position: absolute;
  top: 52px;
  left: 185px;
  width: 60%;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review:before {
  content: '\“';
  position: absolute;
  top: -18px;
  left: -28px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
  overflow: hidden;
  position: relative;
  max-height: 90px;
  padding-right: 30px;
  color: #404040;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 30px;
  word-break: break-all;
  text-align: justify;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:before {
  content: '...';
  position: absolute;
  right: 12px;
  bottom: 0;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:after {
  content: '';
  position: absolute;
  right: 12px;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #fff;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
  position: absolute;
  left: 185px;
  top: 170px;
  color: #595959;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.375;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name span {
  color: #404040;
  font-weight: 700;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a:hover {
  border-color: #14bf72;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a:hover .flag:before {
  border-left-color: #14bf72;
}

.cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a:hover .list-review p {
  font-weight: 500;
}

.cont-area.album {
  padding: 70px 0 180px;
}

.cont-area.album .album-cont-wrap {
  overflow: hidden;
  margin-top: 70px;
}

.cont-area.album .album-cont-wrap .a-cont-top {
  text-align: center;
}

.cont-area.album .album-cont-wrap .a-cont-top .tit {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.217391304347826;
}

.cont-area.album .album-cont-wrap .a-cont-top .desc {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.333333333333333;
}

.cont-area.album .album-cont-wrap .a-cont-bottom {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 56px;
  text-align: center;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav {
  display: inline-block;
  margin: 15px auto 0;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap {
  overflow: hidden;
  position: relative;
  padding: 0 20px;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: url("../images/sub/album_line_1920.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li {
  display: inline-block;
  padding: 0 18px;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
  display: inline-block;
  position: relative;
  padding-top: 25px;
  color: #959595;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5;
  cursor: pointer;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 50%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background-color: #fff;
  border: 2px solid #c7c7c7;
  border-radius: 50%;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li.current a {
  color: #0082dc;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li.current a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 23px;
  height: 23px;
  margin-left: -11px;
  background-image: url("../images/sub/album_nav_icon_on_1920.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide {
  position: relative;
  margin: auto;
  width: 890px;
  height: 500px;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow {
  overflow: hidden;
  position: absolute;
  top: 133px;
  z-index: 2;
  width: 46px;
  height: 89px;
  background-image: url("../images/sub/cont_slide_big_arrow.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #fff;
  font-size: 0;
  text-indent: -9999px;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.prev {
  left: -46px;
  background-position: 0 0;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.next {
  right: -46px;
  background-position: 100% 0;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap {
  height: 100%;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all cubic-bezier(0, 0.74, 0.61, 0.99) 0.6s;
  transition: all cubic-bezier(0, 0.74, 0.61, 0.99) 0.6s;
  opacity: 0;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-img {
  overflow: hidden;
  width: 371px;
  height: 247px;
  margin: auto;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-img img {
  height: 100%;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
  display: none;
  overflow: hidden;
  width: 424px;
  margin: 58px auto 0;
  color: #404040;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 3.6em;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active {
  z-index: 3;
  top: 0;
  opacity: 1;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active .photo-img {
  width: 530px;
  height: 353px;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active .photo-desc {
  display: inline-block;
  display: -webkit-box;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active:after {
  display: none;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.prev01 {
  z-index: 2;
  -webkit-transform: translateX(-103%);
  transform: translateX(-103%);
  opacity: 1;
}

.cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.next01 {
  z-index: 2;
  -webkit-transform: translateX(3%);
  transform: translateX(3%);
  opacity: 1;
}

.cont-area.video {
  padding: 70px 0 180px;
}

.cont-area.video .video-cont-wrap {
  margin-top: 70px;
}

.cont-area.video .video-cont-wrap .v-cont-top .tit {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.217391304347826;
  text-align: center;
}

.cont-area.video .video-cont-wrap .v-cont-bottom {
  margin-top: 55px;
}

.cont-area.video .video-cont-wrap .v-cont-bottom .vid {
  display: block;
  position: relative;
  width: 854px;
  margin: 0 auto;
}

.cont-area.video .video-cont-wrap .v-cont-bottom .vid:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cont-area.video .video-cont-wrap .v-cont-bottom .vid.on:after {
  display: none;
}

.cont-area.video .video-cont-wrap .v-cont-bottom .vid video {
  display: block;
  width: 100%;
}

.cont-area.video .video-cont-wrap .v-cont-bottom .vid .btn-play {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 103px;
  height: 103px;
  background-image: url("../images/vid_btn_play_1920.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cont-area.video .video-cont-wrap .v-cont-bottom .vid:hover .btn-play {
  background-image: url("../images/vid_btn_play_on_1920.png");
}

/***************************************  1920 ***************************************/
@media screen and (max-width: 1920px) {
  .cont-area.summary {
    padding: 3.645833333333333vw 0 9.375vw;
  }
  .cont-area.summary .summary-cont-wrap {
    margin-top: 4.166666666666667vw;
  }
  .cont-area.summary .s-cont-top {
    padding: 0 6.40625vw;
  }
  .cont-area.summary .s-cont-top .summary-img {
    width: 23.75vw;
  }
  .cont-area.summary .s-cont-top .summary-info {
    width: 35.3125vw;
  }
  .cont-area.summary .s-cont-top .summary-info .tit {
    font-size: 1.666666666666667vw;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table {
    margin-top: 0.78125vw;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
    padding: 1.40625vw 1.041666666666667vw;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
    padding: 1.40625vw 1.5625vw;
  }
  .cont-area.summary .s-cont-bottom {
    margin-top: 3.645833333333333vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd {
    margin-top: 1.5625vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .s-photo {
    width: 20.36458333333333vw;
    height: 13.69791666666667vw;
    margin: 0 0.5208333333333333vw 0.5208333333333333vw 0;
  }
  .cont-area.list {
    padding: 3.645833333333333vw 0 9.375vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-top {
    margin-top: 3.958333333333333vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-top .tit {
    font-size: 2.395833333333333vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom {
    padding-top: 2.8125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li {
    margin: 0 0.9375vw 1.875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a {
    width: 30.15625vw;
    height: 12.76041666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag {
    width: 5.729166666666667vw;
    height: 5.729166666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag:before {
    border-left: 5.729166666666667vw solid #c7c7c7;
    border-bottom: 5.729166666666667vw solid transparent;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
    top: 0.1041666666666667vw;
    left: 0.625vw;
    line-height: 2.604166666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p strong {
    top: 0.1041666666666667vw;
    font-size: 1.666666666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-photo {
    top: 3.020833333333333vw;
    left: 2.5vw;
    width: 4.583333333333333vw;
    height: 4.583333333333333vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review {
    top: 2.708333333333333vw;
    left: 9.635416666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review:before {
    top: -0.9375vw;
    left: -1.458333333333333vw;
    font-size: 2.083333333333333vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
    max-height: 4.6875vw;
    padding-right: 1.5625vw;
    line-height: 1.5625vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:before {
    right: 0.625vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:after {
    right: 0.625vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
    left: 9.635416666666667vw;
    top: 8.854166666666667vw;
  }
  .cont-area.album {
    padding: 3.645833333333333vw 0 9.375vw;
  }
  .cont-area.album .album-cont-wrap {
    margin-top: 3.645833333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-top .tit {
    font-size: 2.395833333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-top .desc {
    margin-top: 0.5208333333333333vw;
    font-size: 1.25vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom {
    margin-top: 2.916666666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav {
    margin: 0.78125vw auto 0;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap {
    padding: 0 1.041666666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap:before {
    top: 0.5729166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li {
    padding: 0 0.9375vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
    padding-top: 1.302083333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a:before {
    top: 0.3125vw;
    width: 0.5208333333333333vw;
    height: 0.5208333333333333vw;
    margin-left: -0.2604166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li.current a:after {
    width: 1.197916666666667vw;
    height: 1.197916666666667vw;
    margin-left: -0.5729166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide {
    width: 46.35416666666667vw;
    height: 26.04166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow {
    top: 6.927083333333333vw;
    width: 2.395833333333333vw;
    height: 4.635416666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.prev {
    left: -2.395833333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.next {
    right: -2.395833333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide {
    top: 2.760416666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-img {
    width: 19.32291666666667vw;
    height: 12.86458333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
    max-width: 22.08333333333333vw;
    margin: 3.020833333333333vw auto 0;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active .photo-img {
    width: 27.60416666666667vw;
    height: 18.38541666666667vw;
  }
  .cont-area.video {
    padding: 3.645833333333333vw 0 9.375vw;
  }
  .cont-area.video .video-cont-wrap {
    margin-top: 3.645833333333333vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-top .tit {
    font-size: 2.395833333333333vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom {
    margin-top: 2.864583333333333vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom .vid {
    width: 44.47916666666667vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom .vid .btn-play {
    width: 5.364583333333333vw;
    height: 5.364583333333333vw;
  }
}

/***************************************  1440 ***************************************/
@media screen and (max-width: 1440px) {
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
    font-size: 14px;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
    font-size: 14px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
    font-size: 13px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
    font-size: 18px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
    font-size: 14px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
    font-size: 14px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
    font-size: 18px;
  }
}

/***************************************  1280 ***************************************/
@media screen and (max-width: 1280px) {
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
    font-size: 12px;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
    font-size: 12px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
    font-size: 11px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
    font-size: 16px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
    font-size: 12px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
    font-size: 12px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
    font-size: 16px;
  }
}

/***************************************  1024 ***************************************/
@media screen and (max-width: 1024px) {
  .cont-area.summary {
    padding: 4.1015625vw 0 10.546875vw;
  }
  .cont-area.summary .summary-cont-wrap {
    margin-top: 4.6875vw;
  }
  .cont-area.summary .s-cont-top {
    padding: 0 7.20703125vw;
  }
  .cont-area.summary .s-cont-top .summary-img {
    width: 26.71875vw;
  }
  .cont-area.summary .s-cont-top .summary-info {
    width: 39.7265625vw;
  }
  .cont-area.summary .s-cont-top .summary-info .tit {
    font-size: 1.875vw;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table {
    margin-top: 0.87890625vw;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
    padding: 1.58203125vw 1.171875vw;
    font-size: 14px;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
    padding: 1.58203125vw 1.7578125vw;
    font-size: 14px;
  }
  .cont-area.summary .s-cont-bottom {
    margin-top: 4.1015625vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd {
    margin-top: 1.7578125vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .s-photo {
    width: 22.91015625vw;
    height: 15.41015625vw;
    margin: 0 0.5859375vw 0.5859375vw 0;
  }
  .cont-area.list {
    padding: 4.1015625vw 0 10.546875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-top {
    margin-top: 4.453125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-top .tit {
    font-size: 2.6953125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom {
    padding-top: 3.1640625vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul {
    margin: 2.9296875vw 0 0 7.20703125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li {
    margin: 0 2.109375vw 2.109375vw 0;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a {
    width: 33.92578125vw;
    height: 14.35546875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag {
    width: 6.4453125vw;
    height: 6.4453125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag:before {
    border-left: 6.4453125vw solid #c7c7c7;
    border-bottom: 6.4453125vw solid transparent;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
    top: 0.1171875vw;
    left: 0.703125vw;
    font-size: 13px;
    line-height: 2.9296875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p strong {
    top: 0.1171875vw;
    font-size: 1.875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-photo {
    top: 3.3984375vw;
    left: 2.8125vw;
    width: 5.15625vw;
    height: 5.15625vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review {
    top: 3.046875vw;
    left: 10.83984375vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review:before {
    top: -1.0546875vw;
    left: -1.640625vw;
    font-size: 2.34375vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
    max-height: 5.2734375vw;
    padding-right: 1.7578125vw;
    font-size: 18px;
    line-height: 1.7578125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:before {
    right: 0.703125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:after {
    right: 0.703125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
    left: 10.83984375vw;
    top: 9.9609375vw;
    font-size: 14px;
  }
  .cont-area.album {
    padding: 4.1015625vw 0 10.546875vw;
  }
  .cont-area.album .album-cont-wrap {
    margin-top: 4.1015625vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-top .tit {
    font-size: 2.6953125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-top .desc {
    margin-top: 0.5859375vw;
    font-size: 1.40625vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom {
    margin-top: 3.28125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav {
    margin: 0.87890625vw auto 0;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap {
    padding: 0 1.0546875vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap:before {
    top: 0.64453125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li {
    padding: 0 0.9375vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
    padding-top: 1.46484375vw;
    font-size: 14px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a:before {
    top: 0.3515625vw;
    width: 0.5859375vw;
    height: 0.5859375vw;
    margin-left: -0.29296875vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li.current a:after {
    width: 1.34765625vw;
    height: 1.34765625vw;
    margin-left: -0.64453125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide {
    width: 52.1484375vw;
    height: 29.296875vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow {
    top: 7.79296875vw;
    width: 2.6953125vw;
    height: 5.21484375vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.prev {
    left: -2.6953125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.next {
    right: -2.6953125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide {
    top: 3.10546875vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-img {
    width: 21.73828125vw;
    height: 14.47265625vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
    max-width: 24.84375vw;
    margin-top: 3.3984375vw;
    font-size: 18px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active .photo-img {
    width: 31.0546875vw;
  }
  .cont-area.video {
    padding: 4.1015625vw 0 10.546875vw;
  }
  .cont-area.video .video-cont-wrap {
    margin-top: 4.1015625vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-top .tit {
    font-size: 2.6953125vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom {
    margin-top: 3.22265625vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom .vid {
    width: 50.0390625vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom .vid .btn-play {
    width: 6.03515625vw;
    height: 6.03515625vw;
  }
}

/***************************************  960 ***************************************/
@media screen and (max-width: 960px) {
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
    font-size: 12px;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
    font-size: 12px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
    font-size: 11px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
    font-size: 16px;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
    font-size: 12px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
    font-size: 12px;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
    font-size: 16px;
  }
}

/***************************************  768 ***************************************/
@media screen and (max-width: 768px) {
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-dots {
    width: 100%;
    padding: 2.994791666666667vw 0;
    line-height: 0;
    text-align: center;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-dots li {
    display: inline-block;
    width: 2.604166666666667vw;
    height: 2.604166666666667vw;
    margin: 0 2.604166666666667vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-dots li button {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid #c7c7c7;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    font-size: 0;
    text-indent: -9999px;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-dots li.slick-active button {
    border-color: #0082dc;
    background-color: #0082dc;
  }
  .list-popup {
    width: 91.40625vw;
  }
  .list-popup .list-popup-wrap {
    padding: 9.114583333333333vw;
  }
  .list-popup .popup-close {
    width: 53px;
    height: 53px;
  }
  .list-popup .popup-top {
    padding-bottom: 6.510416666666667vw;
  }
  .list-popup .popup-top img {
    width: 14.84375vw;
    margin-right: 4.6875vw;
  }
  .list-popup .popup-top p {
    margin-top: 2.213541666666667vw;
    font-size: 3.645833333333333vw;
    line-height: 1.428571428571429;
  }
  .list-popup .popup-top p span {
    display: block;
  }
  .list-popup .popup-bottom {
    padding-top: 5.729166666666667vw;
    border-top: 2px solid #e5e5e5;
  }
  .list-popup .popup-bottom .popup-bottom-wrap {
    height: 50vh;
    padding-right: 2.604166666666667vw;
    font-size: 3.645833333333333vw;
    line-height: 5.208333333333333vw;
  }
  .list-popup .popup-arrows {
    width: 7.8125vw;
    height: 7.8125vw;
    margin-top: -3.90625vw;
    background-image: url("../images/sub/list_popup_arrows_768.png");
  }
  .list-popup .popup-arrows.popup-prev {
    left: 1.302083333333333vw;
    background-position: 0 0;
  }
  .list-popup .popup-arrows.popup-next {
    right: 1.302083333333333vw;
    background-position: 100% 0;
  }
  .cont-area.summary {
    padding: 14.84375vw 0 20.83333333333333vw;
  }
  .cont-area.summary .summary-cont-wrap {
    margin-top: 16.92708333333333vw;
  }
  .cont-area.summary .s-cont-top {
    padding: 0;
  }
  .cont-area.summary .s-cont-top .summary-img {
    float: none;
    display: block;
    width: 59.375vw;
    margin: 0 auto;
  }
  .cont-area.summary .s-cont-top .summary-info {
    float: none;
    display: block;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 4.296875vw;
    margin-top: 11.71875vw;
  }
  .cont-area.summary .s-cont-top .summary-info .tit {
    font-size: 6.640625vw;
    line-height: 1.313725490196078;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table {
    margin-top: 7.291666666666667vw;
    border-top: 2px solid #202020;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dt {
    width: 100%;
    padding: 0;
    font-size: 4.166666666666667vw;
    line-height: 1.5;
  }
  .cont-area.summary .s-cont-top .summary-info .ul-table li dl dd {
    width: 100%;
    padding: 0;
    margin-top: 1.302083333333333vw;
    font-size: 4.166666666666667vw;
    line-height: 1.5;
  }
  .cont-area.summary .s-cont-bottom {
    margin-top: 20.83333333333333vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dt {
    padding: 3.515625vw 4.296875vw 0;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd {
    margin-top: 6.640625vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo {
    overflow: visible;
    position: relative;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-track {
    overflow: hidden;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-arrow {
    position: absolute;
    bottom: 0;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .slick-dots {
    margin-top: 8.333333333333333vw;
  }
  .cont-area.summary .s-cont-bottom .cont-dl dd .summary-photo .s-photo {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 61.45833333333333vw;
    padding: 0 4.296875vw;
    margin: 0;
  }
  .cont-area.list {
    padding: 14.84375vw 0 20.83333333333333vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-top {
    margin-top: 14.84375vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-top .tit {
    font-size: 9.635416666666667vw;
    line-height: 1.297297297297297;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom {
    padding-top: 11.19791666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul {
    margin: 0 auto;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li {
    display: block;
    margin: 0 0 4.6875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a {
    width: 91.40625vw;
    height: 57.55208333333333vw;
    padding: 11.71875vw 13.02083333333333vw;
    margin: 0 auto;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag {
    width: 18.75vw;
    height: 18.75vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag:before {
    border-left: 18.75vw solid #c7c7c7;
    border-bottom: 18.75vw solid transparent;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p {
    top: 0.5208333333333333vw;
    left: 2.213541666666667vw;
    font-size: 2.604166666666667vw;
    line-height: 8.463541666666667vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .flag p strong {
    font-size: 5.46875vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-photo {
    top: 9.114583333333333vw;
    left: 9.114583333333333vw;
    width: 14.84375vw;
    height: 14.84375vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review {
    top: 29.03645833333333vw;
    left: 8.854166666666667vw;
    width: 80%;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review:before {
    top: -2.604166666666667vw;
    left: -4.817708333333333vw;
    font-size: 8.333333333333333vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p {
    max-height: 18.75vw;
    padding-right: 3.90625vw;
    font-size: 4.166666666666667vw;
    line-height: 6.25vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:before {
    right: 0.78125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-review p:after {
    right: 0.78125vw;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name {
    top: 11.45833333333333vw;
    left: 28.64583333333333vw;
    font-size: 3.645833333333333vw;
    line-height: 1.428571428571429;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .list-wrap ul li a .list-name span {
    display: block;
  }
  .cont-area.list .list-cont-wrap .l-cont-bottom .table-pagination {
    margin-top: 8.463541666666667vw;
  }
  .cont-area.album {
    padding: 14.84375vw 0 20.83333333333333vw;
  }
  .cont-area.album .album-cont-wrap {
    margin-top: 14.32291666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-top {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4.296875vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-top .tit {
    font-size: 9.635416666666667vw;
    line-height: 1.297297297297297;
  }
  .cont-area.album .album-cont-wrap .a-cont-top .desc {
    margin-top: 2.604166666666667vw;
    font-size: 4.947916666666667vw;
    line-height: 1.368421052631579;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom {
    margin-top: 7.291666666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav {
    overflow: auto;
    width: 100%;
    margin: 2.213541666666667vw auto 0;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap {
    width: 220vw;
    padding: 0 2.604166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap:before {
    top: 2.734375vw;
    height: 2px;
    background-image: url("../images/sub/album_line_1920.png");
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li {
    padding: 0 2.604166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a {
    padding-top: 6.510416666666667vw;
    font-size: 3.385416666666667vw;
    line-height: 1.846153846153846;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li a:before {
    top: 1.5625vw;
    width: 2.604166666666667vw;
    height: 2.604166666666667vw;
    margin-left: -1.302083333333333vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .album-nav .album-nav-wrap li.current a:after {
    width: 5.859375vw;
    height: 5.859375vw;
    margin-left: -2.864583333333333vw;
    background-image: url("../images/sub/album_nav_icon_on_768.png");
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.34895833333333vw;
    height: 71vw;
    padding: 0 2.604166666666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow {
    top: 19.140625vw;
    width: 7.8125vw;
    height: 7.8125vw;
    background-image: url("../images/sub/list_popup_arrows_768.png");
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.prev {
    left: -7.8125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide .photo-arrow.next {
    right: -7.8125vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide {
    top: 0;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-img {
    width: 69.01041666666667vw;
    height: 45.96354166666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide .photo-desc {
    max-width: 100%;
    width: 100%;
    height: 3.6em;
    margin: 7.8125vw auto 0;
    font-size: 4.166666666666667vw;
    line-height: 1.1875;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide:after {
    display: none;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.active .photo-img {
    width: 69.01041666666667vw;
    height: 45.96354166666667vw;
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.prev01 {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  .cont-area.album .album-cont-wrap .a-cont-bottom .photo-slide-wrap .slide.next01 {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .cont-area.video {
    padding: 14.84375vw 0 20.83333333333333vw;
  }
  .cont-area.video .video-cont-wrap {
    margin-top: 14.71354166666667vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-top .tit {
    font-size: 9.635416666666667vw;
    line-height: 1.297297297297297;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom {
    margin-top: 11.58854166666667vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom .vid {
    width: 91.40625vw;
  }
  .cont-area.video .video-cont-wrap .v-cont-bottom .vid .btn-play {
    width: 21.484375vw;
    height: 21.484375vw;
    background-image: url("../images/vid_btn_play_768.png");
    background-size: contain;
  }
}
