@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.clearfix::before { clear: both; content: ""; display: table; }

strong, h1, h2, h3, h4 { font-weight: bold; }

.resume { width: 790px; line-height: 1.2em; font-size: 12px; position: relative; margin: 20px 50px; font-family: 'Noto Sans KR', sans-serif; }
.resume:before, .resume:after { content: ""; display: table; }
.resume:after { clear: both; }
.resume table { width: 100%; border-collapse: collapse; }
.resume table th { padding: 2px 0; }
.resume table td { padding: 5px 10px; border: 1px solid #000; }
.resume em { border-bottom: 1px dotted #aaa; }
.resume .ctgr1 { width: 520px; float: left; }
.resume .photo { border: 1px solid #000; width: 85px; height: 113px; float: left; margin: 0 0 0 30px; overflow: hidden; }
.resume .photo p { position: relative; text-align: center; top: 35px; }
.resume h1 { float: right; }
.resume .info { clear: left; position: relative; top: -20px; }
.resume h2 { text-transform: uppercase; font-size: 1.7em; text-align: center; font-weight: bold; margin: 0 0 10px; }
.resume h3 { margin: 7px 0 0; }
.resume h3 + p { margin: 0 0 2px; }
.resume .border { border: 1px solid #000; margin: -1px 0 0; }
.resume .border .right { border-right: 1px solid #000; }
.resume .border span { padding: 5px 10px; display: inline-block; }
.resume .border .address, .resume .border .contact { line-height: 1.5em; }
.resume .common th { border: 1px solid #000; color: #fff; background: #aaa; text-align: center; line-height: 2em; }
.resume .ctgr3 { width: 100%; margin: 2px 0 0; }
.resume .ctgr3 th { border: 1px solid #000; color: #fff; background: #aaa; text-align: center; line-height: 1.8em; }
.resume .ctgr4 { margin: -1px 0 0; }
.resume .ctgr8 th { line-height: 1.5em; }
.resume .ctgr10 { margin: 10px 0 0; }
.resume .ctgr11 { width: 200px; float: right; margin-top: -120px; }
.resume .ctgr11 th { text-align: center; border: 1px solid #000; }
