	<div class="container">
		<div class="sub_wrap" style="width: 940px; margin: auto; position: relative; padding: 80px 0 0; ">
			<div class="title_area other">
				<h2 style="width: 100%; text-align: center; font-size: 2.5em; font-weight: bold; color: #222; color: #222;">Maaf proses Anda selesai disini. <em style="display: block; font-style: normal; font-size: 0.7em; margin: 10px 0 40px">Terima kasih telah berpartisipasi  dalam pengisian data Anda.</em></h2>
			</div>
			<div class="result_box" style="border-top: 2px solid #000; padding: 50px; background: #f3f5f7; border-bottom: 1px solid #ccc; line-height: 1.4em; font-size: 1.125em; margin-top: 30px; ">
				[[MESSAGE]]
			</div>
			<div class="btn_wrap" style="text-align: center; ">
				<span class="btn btnType1" style=" margin: 60px 0; display: inline-block; border-width: 1px; border-style: solid; border-radius: 3px;border-color: #1c59f1; background: #1c59f1;  "><a href="http://www.accentuates.co.id" target="_blank" style=" text-decoration: none; color: inherit; display: block; color: #fff; width: 320px; line-height: 72px; text-align: center; font-size: 1.5em;"> ACCENTUATES</a></span>
			</div>				
		</div>
	</div>